*{
    margin: 0;
    padding: 0;
}
 
ul{

        list-style-type: none;
        margin-left:auto;
        margin-right:auto;
        padding: 390px, 350px;
        overflow: hidden;
        background-color:rgba(247, 124, 108, 0.781);
        width: 60.5%;
        height: 70px;
}


li
{
    float:left;
    text-decoration: inherit;
    text-decoration-color:saddlebrown;
}

li a
{
    display:block;
    color: aliceblue;
    text-align: center;
    padding: 31.5px;
    text-decoration: black;
}

li a:hover
{
    background-color:rgb(209, 49, 124);
    text-decoration:black;
}



.title
{
    position:absolute;
    top: 15%;
    left:34%;
}

.title h1
{
    font-size: 50pt;
    color:rgb(165, 4, 37);
    font-family:'Lucida Grande';
}

.photo1
{
    position:absolute;
    top: 25%;
    left:16%;
}

.photo3
{
    position:absolute;
    top: 36%;
    right:0%;
}

.sub-title
{
    position:absolute;
    top: 70%;
    left:46%;
}

.sub-title
{
    font-size: 25pt;
    color:rgb(219, 4, 155);
    font-family: Impact;
}

.loves img
{
    width: 50px;
    animation: love 7s linear infinite;
}

.loves
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 45%;
}

@keyframes love
{
    0%
    {
        transform: translate(0);
        opacity: 0;
    }

    50%
    {
        opacity: 1;
    }

    0%
    {
        opacity: 1;
    }

    100%
    {
        transform: translate(-80vh);
        opacity: 0;
    }
}

.loves img:nth-child(1)
{
    animation-delay: 2s;
}

.loves img:nth-child(2)
{
    animation-delay: 1s;
}

.loves img:nth-child(3)
{
    animation-delay: 3s;
}

.loves img:nth-child(4)
{
    animation-delay: 4.5s;
}

.loves img:nth-child(5)
{
    animation-delay: 3s;
}

.loves img:nth-child(6)
{
    animation-delay: 6s;
}

.loves img:nth-child(7)
{
    animation-delay: 7s;
}

table
     {
        top: 30%;
      border-collapse: collapse;
      border-color:rgb(214, 255, 250);
     }
     
tr,td,th
     {
      border: 1px solid;
      padding: 4px;
     }

tr
     {
      background-color:rgb(235, 33, 127);
     }

tr:nth-child(even)
     {
      background-color:rgb(236, 68, 200);
     }

tr:hover
     {
      background-color:rgb(243, 239, 237);
     }


.photo6
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 68%;
    right:11%;
}

.photo7
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 64%;
    left:58%;
}

.photo8
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 66%;
    right:51%;
}

.photo10
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 64%;
    right:68%;
}

.photo11
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 64%;
    right:29%;
}

.photo34
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 67%;
    left:76%;
}



.title1
{
    position:absolute;
    top: 16%;
    left:16%;
}

.title1 h1
{
    font-size: 57pt;
    color:rgb(185, 6, 111);
    font-family:Georgia;
}


.title1 h2
{
    font-size: 60pt;
    color:rgba(130, 5, 231, 0.767);
    font-family: Haettenschweiler;
}

.photo12
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 33%;
    left:12%;
}

.photo13
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 53%;
    right:38%;
}

.content
{
    position:absolute;
    bottom: 8%;
    left:55%;
}

.content h1
{
    font-size: 30pt;
    color:rgb(201, 40, 0);
    font-family:'Arial Narrow Bold';
}

.content h2
{
    font-size: 22pt;
    color:rgb(182, 8, 46);
    font-family:'Lucida Grande';
}

.content h3
{
    font-size: 20pt;
    color:rgb(170, 0, 142);
    font-family:Geneva;
}

.photo14
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 15%;
    left: 67%;
}

.photo15
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 42%;
    left: 67%;
}

.photo16
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 74%;
    left: 55%;
}

.photo17
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 15%;
    left: 56%;
}

.photo19
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 40%;
    left: 56%;
    
}

.photo20
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 75%;
    left: 44%;
} 

.ipg
{
    position:absolute;
    top: 14%;
    left:4%;
}

.ipg h2
{
    font-size: 35pt;
    color:rgb(18, 1, 117);
    font-family: Cochin;
}

.ipg h3
{
    font-size: 15pt;
    color:rgb(1, 84, 139);
    font-family:Tahoma;
}

.smam
{
    position:absolute;
    top: 40%;
    left:4%;
}

.smam h2
{
    font-size: 35pt;
    color:rgb(139, 3, 21);
    font-family: Cochin;
}

.smam h3
{
    font-size: 15pt;
    color:rgb(173, 8, 49);
    font-family:Tahoma;
}

.uitm
{
    position:absolute;
    top: 74%;
    left:8%;
}

.uitm h2
{
    font-size: 35pt;
    color:rgb(94, 2, 71);
    font-family: Cochin;
}

.uitm h3
{
    font-size: 15pt;
    color:rgb(165, 0, 151);
    font-family:Tahoma;
}

.photo21
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 15%;
    left: 81%;
}

.photo22
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 43%;
    left: 80%;
}

.photo23
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 75%;
    left: 81%;
}

.family
{
    float: left;
    width: 50%;
    height: 35px;
    background-color:rgb(143, 7, 97);
}

.family h2
{
    font-size: 20pt;
    color:rgb(248, 198, 223);
    font-family:Georgia;
}

.photo41
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 20%;
    left: 8%;
}

.photo35
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 20%;
    left: 29%;
}

.photo36
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 20%;
    left: 50%;
}

.photo42
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 20%;
    left: 70%;
}

.friends
{
    float: left;
    top: 45%;
    width: 50%;
    height: 35px;
    background-color:rgb(175, 12, 61);
}

.friends h2
{
    font-size: 20pt;
    color:rgb(248, 198, 223);
    font-family:Georgia;
}

.photo37
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 60%;
    left: 73%;
}

.photo39
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 60%;
    left: 46%;
}

.photo40
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 60%;
    left: 20%;
}

.photo43
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 60%;
    right: 75%;
}

.lagu
{
    width: 30%;
    height: 100px;
    position:absolute;
    top: 85%;
    left: 75%;
}









